<h1>Photography</h1>
<div class="photo">
	<div class="photo__sizer"></div>
	{{#each model}}
		<div class="photo__item">
		  <img {{bind-attr src=imgLink}}>
		  <p class="photo__item--title">{{title}}</p>
		</div>
	 {{/each}}
</div>

