@include layout(12 split)

.github
	font-family: $Khula-font
	@include container
	&__profile,
	&__activity
		@include susy-breakpoint($bp-small)
			@include span(12 of 12)
	&__activity,
		@include susy-breakpoint($bp-small-1)
		    @include span(4 of 12)
	&__profile
		padding-top: 20px
		&--avatar
			display: none
			@include susy-breakpoint($bp-small-2)
				display: block
				@include span(2 of 10)
		&--bio
			@include span(10 of 10)
			@include susy-breakpoint($bp-small-2)
				@include span(8 of 10)
		&--mobile
			display: block
			i 
				margin-right: 5px
			@include susy-breakpoint($bp-small-2)
				display: none

.stream
	font-family: $Khula-font
	@include container
	&__events,
	&__repos,
	&__git,
	&__personal
		@include span(10 of 10)
		@include susy-breakpoint($bp-small-1)
			@include span(4 of 10)
		@include susy-breakpoint($bp-small-2)
			@include span(3 of 10)
	&__git
		@include susy-breakpoint($bp-small-1)
			@include span(2 of 10)
		@include susy-breakpoint($bp-small-2)
			@include span(2 of 10)
	&__info
		li:first-child
			width: 16%
		li
			display: inline-block
			text-align: center
			width: 26%
			line-height: 15px
			padding-right: 2px
			span.info
				display: block
			span.number
				font-size: 26px












