@include layout(12 split)

.github
	font-family: $Khula-font
	text-align: center
	@include susy-breakpoint($bp-minimum)
		text-align: left
	&__activity
		@include susy-breakpoint($bp-small)
			@include span(12 of 12)
	&__activity,
		@include susy-breakpoint($bp-small-1)
		    @include span(4 of 12)
	&__profile
		&--bio
			font-size: 14px
			@include span(12 of 12)
		&--mobile,
		&--tags
			display: inline-block
			li
				float: left
		&--tags
			li
				margin-right: 5px
    h1
	    text-align: center
	    @include susy-breakpoint($bp-minimum)
	        text-align: left

.stream
	font-family: $Khula-font
	@include container
	&__events,
	&__repos,
	&__git,
		text-align: center
	&__personal
		@include span(10 of 10)
		@include susy-breakpoint($bp-small-2)
			@include span(5 of 10)
	&__repos
		@include susy-breakpoint($bp-small-2)
			@include span(3 of 10)
			text-align: left
		&--repo,
			width: 50%
			float: left
			@include susy-breakpoint($bp-small-2)
				width: 100%
		&--event
			margin-bottom: 10px
			float: left
			width: 50%
			white-space: nowrap
			overflow: hidden
			@include susy-breakpoint($bp-minimum)
				width: 50%
			a
				display: block
	&__git
		@include susy-breakpoint($bp-small-2)
			@include span(2 of 10 n)
	&__events
		text-align: center
		@include susy-breakpoint($bp-small-2)
			@include span(5 of 10)
	a.repository
		font-size: 16px
		text-decoration: none
		color: $darkgray
	&__info
		border-left: none
		@include susy-breakpoint($bp-small-2)
			border-left: 1px solid $lightgray
			margin-top: 25px
			margin-left: 10px
		li
			width: 48%
			display: inline-table
			position: relative
			margin-bottom: 15px
			@include susy-breakpoint($bp-small-1)
				display: inline-table
				width: 48%
			@include susy-breakpoint($bp-small-2)
				width: 100%
			.number,
			.info,
			.location
				font-size: 18px
				margin-left: 3px
				@include susy-breakpoint($bp-small-2)
					margin-left: 20px
			.number
				font-size: 16px
			.info,
			.location
				display: block
				font-size: 14px
			.location
				font-size: 12px
			.circle
				@include circle
				display: none
				@include susy-breakpoint($bp-small-2)
					display: block
			.element
				display: none
				overflow: hidden
				&__emitter,
					position: absolute
					width: 9px
					height: 9px
					border-radius: 50%
					background-color: $orange
					z-index: 0
					display: block
					left: -5px
					&:after
						position: absolute
						top: -2px
						left: -3px
						width: 15px
						height: 15px
						border-radius: 50%
						content: ''
						background-color: $orange
						z-index: -1
						pointer-events: none
						opacity: 0
						animation: sonarWave 2s linear infinite
				@include susy-breakpoint($bp-small-2)
					display: block


@keyframes sonarWave 
  from 
    opacity: 0.5
  to 
    transform: scale(2.5)
    opacity: 0
  










