html,
body
  background: $white
  font-family: $Khula-font

a:hover
  cursor: pointer
img
  max-width: 100%

.info
  font-size: 14px
  font-weight: lighter
  color: $lightgray
  text-overflow: ellipsis
  overflow: hidden

.location
  font-size: 12px
  font-weight: lighter
  color: $orange

.date
  font-size: 12px
  color: $orange
  display: inline-block

.tags
  background: $lightblue
  color: $darkgray
  font-size: 10px
  display: inline-block
  padding: 0px 5px
  height: 15px
  vertical-align: middle
  margin-right: 10px
  text-decoration: none
  border: 1px solid #24e8b8
.social-links
  @extend .tags
  background: $white
  border: 1px solid $darkgray
  @include transition(all 0.2s ease-out)
  &:hover
    background: $darkgray
    color: $white


.white
  color: $white

.lightgray
  color: $lightgray

.darkgray
  color: $darkgray

.lightblue
  color: $lightblue

.orange
  color: $orange

.centered
  text-align: center

.recommendations p
  font-size: 18px

.recommendations ul
  font-size: 16px

  li a
    border-bottom: 1px dotted #999

    &:hover
      border-bottom: 1px dotted #333
      text-decoration: none


.container
  @include container
  @include transition(all 0.1s ease)
  .header__button-close
    display: none
    text-align: center
  &.open
    transform: inherit
    @include susy-breakpoint($bp-medium, $medium)
      @include translate3d($off-canvas-width-2, 0, 0)
    .header__button-open,
      display: none
    .header__button-close
      display: block
    @include susy-breakpoint($bp-minimum)
      .header__button-close
        display: none


.content
  @include span(14 of 16 last)
  @include susy-breakpoint($bp-medium, $medium)
    @include span(16 of 16)

.header
  @include span(16)
  float: none
  @include susy-breakpoint($bp-minimum)
    height: 20px
  h1
    display: block
    text-align: center
    margin-top: 5px
    @include susy-breakpoint($bp-minimum)
      display: none
  &__button
    position: absolute
    left: 10px
    @include span(2 of 16)
  &__button-open
    display: block
    height: 2em
    background: url("/images/menu.svg") left center no-repeat
    background-size: 1.475em 2em
    overflow: hidden
    white-space: nowrap
    text-indent: 100%
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
    opacity: 0.8
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    @include susy-breakpoint($bp-minimum, $medium)
      display: none
    &:hover
      opacity: 1
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99)
  &__button-close
    position: absolute
    top: 0px
    left: -2px
    width: 1.925em
    height: 2.2em
    padding: 0
    border: 0
    outline: none
    background: url("/images/close-btn.svg") left center no-repeat
    overflow: hidden
    white-space: nowrap
    text-indent: 200%
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
    opacity: 0.8
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    @include susy-breakpoint($bp-minimum, $medium)
      display: none
    &:hover
      background: url("/images/close-btn-hover.svg") left center no-repeat
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
.sidebar
  @include span(2 of 16 first)
  display: flex
  flex-direction: column
  align-items: center
  max-width: 170px
  position: fixed
  top: 0
  bottom: 0
  left: 0
  border-right: 5px double $lightgray
  border-width: 3px
  padding: 5px
  text-align: center
  height: 100%
  min-height: 1200px
  @include susy-breakpoint($bp-medium, $medium)
    left: -150px
    width: 125px
  .logo
    @include susy-breakpoint ($bp-medium)
    display: none
    top: 20px
    position: absolute
    margin: 0
    padding: 0
    &__music,
    &__coding,
    &__photography
      font-size: 10px
      text-indent: 5px
      line-height: 15px
      text-decoration: line-through
      p,span
        display: inline
      span
        font-size: 14px
    &__music
      span
        color: $lightblue
    &__coding
      span
        color: $darkgray
    &__photography
      span
        color: $orange

.avatar
  width: 80px
  margin-top: 40px
  display: block
  img
    border-radius: 50%
    padding: 5px
    border: 1px solid #dddddd

.loading-spinner
  font-size: 100px
  margin: 15px auto 0 auto
  position: absolute
  left: 0
  right: 0
  height: 300px
  width: 300px
  > i
    margin-left: 32%
