$susy: ( columns: 16,  global-box-sizing: border-box)
$medium: ( columns: 16 )
$bp-medium: max-width 1065px
$off-canvas-width-2: 150px;
$off-canvas-width-1: 0px;


html,
body
  background: $white


a:hover
  cursor: pointer
img
  max-width: 100%

.centered
  text-align: center

.recommendations p
  font-size: 18px
  
.recommendations ul
  font-size: 16px

  li a
    border-bottom: 1px dotted #999
    
    &:hover
      border-bottom: 1px dotted #333
      text-decoration: none


.container
  @include container
  height: 98vh
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  &.open 
    transform: translate3d($off-canvas-width-1, 0, 0);
    @include susy-breakpoint($bp-medium, $medium)
      transform: translate3d($off-canvas-width-2, 0, 0);

.content 
  @include span(14 of 16 last)
  @include susy-breakpoint($bp-medium, $medium)
    @include span(16 of 16)

.sidebar 
  @include span(2 of 16 first)
  position: fixed
  height: 100%
  border-right: 5px double $lightgray
  border-width: 3px
  @include susy-breakpoint($bp-medium, $medium)
    left: -150px
    width: 145px 


.loading-spinner
  font-size: 200px
  height: 200px
  left: 50%
  margin-left: -90px
  margin-top: 15px
  position: absolute
  width: 175px