@include layout(12 split)

.grid
  letter-spacing: normal
  margin: 0
  h1
    font-weight: bold
    font-family: $Khula-font
    margin-left: 0.83333%
    text-align: center
    @include susy-breakpoint($bp-minimum)
        text-align: left
.photo
  font-family: $Khula-font
  @include container
  &:after
    content: ''
    display: block
    clear: both
  &__item
    float: left
    @include susy-breakpoint($bp-small)
        @include span(12 of 12)
    @include susy-breakpoint($bp-small-1)
        @include span(6 of 12)
    @include susy-breakpoint($bp-maximum)
        // @include span(4 of 12)
        width: 31.3%
        float: left
    &--title
      position: absolute
      background: white
      width: 100%
      opacity: 0
      display: block
      font-size: 12px
      text-align: center
      @include transition(top .5s)
      top: -1px
      line-height: 4
    &:hover &--title
      opacity: 0.8
      top: 0
      height: 45px
    img
      display: block
      border-top: 10px solid $white
      width: 100%
