// @include layout(12 split)

// .photo
//   font-family: $Khula-font
//   padding: 8px
//   @include container
//   &__flickr
//     float: left
//     width: 50%
//     @include susy-breakpoint($bp-small)
//         @include span(12 of 12)
//     @include susy-breakpoint($bp-small-1)
//         @include span(6 of 12)
//     @include susy-breakpoint($bp-maximum)
//         @include span(4 of 12)


/* clear fix */
// .grid
//   margin: 10px
//   letter-spacing: normal
//   @include susy-breakpoint($bp-medium)
//     padding-top: 30px

// .photo:after 
//   content: ''
//   display: block
//   clear: both
//   margin: 10px


/* ---- .grid-item ---- */

// .photo__sizer
// .photo__item
//   width: 33.333%


// .photo__item
//   float: left


// .photo__item
//   img 
//     display: block
//     max-width: 98%

.grid
  margin: 10px
  letter-spacing: normal
  @include susy-breakpoint($bp-medium)
    padding-top: 30px

.photo
  font-family: $Khula-font
  &:after
    content: ''
    display: block
    clear: both
    margin: 10px
  &__item
    width: 33.333%
    float: left
    &--title
      position: absolute
      background: white
      width: 100%
      opacity: 0
      display: block
      font-size: 12px
      text-align: center
      @include transition(top .5s)
      top: -1px
      line-height: 4
    &:hover &--title
      opacity: 0.8
      top: 0
      height: 45px      
    img
      display: block
      max-width: 98%














