// -----------------------------------------------------------------------------
// Color List
// -----------------------------------------------------------------------------

$white                 	  : #ffffff !default
$lightgray                : #BBBBBB !default
$darkgray				  : #32302f !default
$lightyellow			  : #f0f465 !default
$lightblue				  : #a9fae6 !default
