// -----------------------------------------------------------------------------
// Color List
// -----------------------------------------------------------------------------

$white                 	  : #ffffff !default
$lightgray                : #BBBBBB !default
$darkgray				  : #32302f !default
$lightyellow			  : #f0f465 !default
$lightblue				  : #a9fae6 !default
$orange					  : #ea934c !default

// -----------------------------------------------------------------------------
// BreakPoints and Susy
// -----------------------------------------------------------------------------

$susy: ( columns: 16,  global-box-sizing: border-box)
$medium: ( columns: 16 )
$bp-small: min-width 320px;
$bp-small-1: min-width 540px;
$bp-small-2: min-width 760px;
$bp-minimum: min-width 1065px;
$bp-medium: max-width 1065px;
$off-canvas-width-2: 150px;
$off-canvas-width-1: 0px;

