<div class="main">
    <div {{bindAttr class=":container showMenu::open"}}>
        <div class="sidebar">
            {{outlet 'menu'}}
        </div>
        <div class="content">
            <div class="row">
            <button {{action 'showMenu'}}>Show Menu</button>
            <div class="col-xs-12">
                {{outlet}}
            </div>
            </div>
        </div>
    </div>
</div>