<div class="row">
    <div class="col-xs-12">
        {{#if errorText}}
            <div class="alert alert-danger">{{errorText}}</div>
        {{/if}}
        <div class="recommendations">
            <p>Need some recommendations? Check out:</p>
        </div>
    </div>
</div>