<div class="row">
    <div class="col-xs-12">
        {{#if errorText}}
            <div class="alert alert-danger">{{errorText}}</div>
        {{/if}}
        <div class="recommendations">
            <p>Need some recommendations? Check out:</p>
            <ul class="list-inline">
                <li>{{#link-to 'artist' 'prettylights'}}prettylights{{/link-to}}</li>
                <li>{{#link-to 'artist' 'teeel'}}teeel{{/link-to}}</li>
                <li>{{#link-to 'artist' 'teendaze'}}teendaze{{/link-to}}</li>
                <li>{{#link-to 'artist' 'carparkrecords'}}carparkrecords{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>