<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">Tommaso Villa</a>
            <span>UI & Front End Developer</span>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Music</a>
        </li>
        <li>
            <a href="#">Photography</a>
        </li>
        <li>
            <a href="#">Works</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
    </ul>
</div>





