<!-- Sidebar -->
<div class="gears">
    <i class="fa fa-cog fa-spin fa-fw small"></i>
    <i class="fa fa-cog fa-counter fa-fw big"></i>
</div>
<nav role="navigation" class="nav">
    <ul class="nav__list">
        <li class="nav__list__item--brand">
            <a href="#">Tommaso Villa</a>
            <span>UI & Front End Developer</span>
        </li>
        <li class="nav__list__item">
            <a class="nav__link" href="#">About</a>
        </li>
        <li class="nav__list__item">
            {{#link-to 'music' 'mannaio' class="nav__link"}}Music{{/link-to}}
        </li>
        <li class="nav__list__item">
            <a class="nav__link" href="#">Photography</a>
        </li>
        <li class="nav__list__item">
            <a class="nav__link" href="#">Graphic</a>
        </li>
    </ul>
</nav>





