{{gears-animation isVisible = "false"}}
<header>
    <ul class="logo">
        <li class="logo__music">
            <span>M</span><p>usic</p>
        </li>
        <li class="logo__coding">
            <span>C</span><p>oding</p>
        </li>
        <li class="logo__photography">
            <span>P</span><p>hotography</p>
        </li>
    </ul>
</header>
<nav role="navigation" class="nav">
    <ul class="nav__list">
        <li class="nav__list__item--brand">
            <a href="#">Tommaso Villa</a>
            <span>UI Developer</span>
        </li>
        <li class="nav__list__item">
            {{#link-to 'index' class="nav__link"}}About{{/link-to}}
        </li>
        <li class="nav__list__item">
            {{#link-to 'music' 'music' class="nav__link"}}Music{{/link-to}}
        </li>
        <li class="nav__list__item">
            {{#link-to 'photography' 'photography' class="nav__link"}}Photography{{/link-to}}
        </li>
        <li class="nav__list__item">
            {{#link-to 'graphic' 'graphic' class="nav__link"}}Graphic{{/link-to}}
        </li>
    </ul>
</nav>





