<div class="header">
    <div class="header__button">
        <a class="header__button-close" {{action 'showMenu'}}></a>
    </div>
</div>

<header>
    <div class="avatar">
        <img class="avatar avatar__image" src="https://pbs.twimg.com/profile_images/681402326574313472/UkJoqwZT_400x400.jpg">
    </div>
</header>

<nav role="navigation" class="nav">
    <ul class="nav__list">
        <li class="nav__list__item--brand">
            <a href="#">Tommaso Villa</a>
            <span>Front End - UI Developer</span>
        </li>
        <li class="nav__list__item">
            {{#link-to 'index' class="nav__link"}}About{{/link-to}}
        </li>
        <li class="nav__list__item">
            {{#link-to 'music' 'music' class="nav__link"}}Music{{/link-to}}
        </li>
        <li class="nav__list__item">
            {{#link-to 'photography' 'photography' class="nav__link"}}Photography{{/link-to}}
        </li>
    </ul>
</nav>
