<div class="row">
    <div class="col-xs-12">
        <div class="recommendations">
        	{{#each model}}
            	<img {{bind-attr src=imgLink}}>
            {{/each}}
        </div>
    </div>
</div>