{{!-- <section class="photo">
	{{#each model}}
		<article class="photo__flickr">
    		<img {{bind-attr src=imgLink}}>
    		<div class="photo__title">
    			<span class="photo__text">{{title}}</span>
    		</div>
    	</article>
    {{/each}}	
</section> --}}

{{masonry-plugin imgLink=img.imgLink model=model}} 
