<div class="row">
    <div class="col-xs-12">
        <div class="recommendations">
        	{{#each model}}
            	<p>{{owner}}</p>
            	<p>{{id}}</p>
            {{/each}}
        </div>
    </div>
</div>