<div class="streaming__player {{if currentfavorite 'navbar-collapsed'}}">
    {{#if currentFavorite}}
        <img class="streaming__image" src={{ formattedArtwork }} />
    {{/if}}

    {{soundcloud-player favorite=currentFavorite sound=currentFavoriteObject position=currentFavoritePosition isPlaying=isPlaying isBuffering=isBuffering}}

</div>










